<div class="cardContainer cardView {{card.style}}" style="width: 225px;">
    <div class="spellCard">
        <div class="spellCard-content">
            <span title="Открепить обратно" class="bUnlockItem"><i aria-hidden="true" class="fa fa-unlock-alt"></i></span>
            <span title="Закрепить заклинание" class="bLockItem"><i aria-hidden="true" class="fa fa-lock"></i></span>
            <h1 title="{{card.title_eng}}" style="font-size: {{card.name_font_size}}px">
                {{card.name}}
            </h1>
            {% if card.is_face_side %}
                <div class="row">
                    <div contenteditable="true" class="cell">
                        <b>Настройка</b>
                        <span>{{card.attunement}}</span>
                    </div>
                    <div contenteditable="true" class="cell">
                        <b>Тип</b>
                        <span>{{card.item_type}}</span>
                    </div>
                </div>
                {% if card.requirements %}
                    <div style="font-size: 10px; margin: 0; padding: 0; padding-left: .9em; padding-right: .9em; text-align: center; border-bottom: 2px solid grey;">
                        Требования: {{card.requirements}}
                    </div>
                {% endif %}
            {% endif %}
            <div contenteditable="true" class="text" style="font-size: {{card.font_size}}px;">
                <p>
                    {{card.description|safe}}
                </p>
            </div>
            <b class="class"
                {% if footer_font_size %}
                    style="font-size: {{card.footer_font_size}}px"
                {% endif %}
            >{{card.rarity}}</b>
            <b class="school"
                {% if footer_font_size %}
                    style="font-size: {{card.footer_font_size}}px"
                {% endif %}
            >
                <span title="{{card.book}}">({{card.book.short}})</span>
            </b>
        </div>
    </div>
</div>