<div class="cardContainer cardView {{card.style}}" style="width: 225px;">
    <div class="spellCard">
        <div class="spellCard-content">
            <span title="Открепить обратно" class="bUnlockItem"><i aria-hidden="true" class="fa fa-unlock-alt"></i></span>
            <span title="Закрепить заклинание" class="bLockItem"><i aria-hidden="true" class="fa fa-lock"></i></span>
            <h1 title="{{card.title_eng}}"
                {% if card.name_font_size %}
                    style="font-size: {{card.name_font_size}}px"
                {% endif %}
            >
                {{card.name}}
            </h1>
            <div class="row">
                <div contenteditable="true" class="cell">
                    <b>Настройка</b>
                    <span>{{card.attunement}}</span>
                </div>
                <div contenteditable="true" class="cell">
                    <b>Тип</b>
                    <span>{{card.types}}</span>
                </div>
            </div>
            <div contenteditable="true" class="text"
                {% if card.font_size %}
                    style="font-size: {{card.font_size}}px;"
                {% endif %}
            >
                <p>
                    {{card.description|safe}}
                </p>
            </div>
            <b class="class"
                {% if footer_font_size %}
                    style="font-size: {{card.footer_font_size}}px"
                {% endif %}
            >{{card.rarity}}</b>
            <b class="school"
                {% if footer_font_size %}
                    style="font-size: {{card.footer_font_size}}px"
                {% endif %}
            >
                <span title="{{card.book}}">({{card.book.short}})</span>
            </b>
        </div>
    </div>
</div>