<div class="cardContainer cardView {{style}}" style="width: 225px;">
    <div class="spellCard">
        <div class="spellCard-content">
            <h1 title="{{card.title_eng}}"
                {% if card.name_font_size %}
                    style="font-size: {{card.name_font_size}}px"
                {% endif %}
            >
                {{card.circle}}. {{card.name}} {% if card.is_ritual %}(Ритуал) {% endif %}
            </h1>
            <div class="row">
                <div contenteditable="true" class="cell">
                    <b>Накладывание</b>
                    <span>{{card.cast_time}}</span>
                </div>
                <div contenteditable="true" class="cell">
                    <b>Дистанция</b>
                    <span>{{card.distance}}</span>
                </div>
            </div>
            <div class="row">
                <div contenteditable="true" class="cell">
                    <b>Компоненты</b>
                    <span>{{card.components}}</span>
                </div>
                <div contenteditable="true" class="cell">
                    <b>Длительность</b>
                    <span>{{card.duration}}</span>
                </div>
            </div>
            {% if card.material_components %}
                <div contenteditable="true" class="materials">{{card.material_components}}</div>
            {% endif %}
            <div contenteditable="true" class="text"
                {% if card.font_size %}
                    style="font-size: {{card.font_size}}px;"
                {% endif %}
            >
                <p>
                    {{card.description|safe}}
                </p>
            </div>
            <b class="class"
                {% if card.footer_font_size %}
                    style="font-size: {{card.footer_font_size}}px"
                {% endif %}
            >
                {{card.source}}
            </b>
            <b class="school"
                {% if card.footer_font_size %}
                    style="font-size: {{card.footer_font_size}}px"
                {% endif %}
            >
                {{card.get_school}} <span title="{{card.book}}">({{card.book.short}})</span>
            </b>
        </div>
    </div>
</div>